 <div class="user-details">
  <h1>About me</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Personal</h2>
      <i class="devicon-coffeescript-plain"></i>
      <p>I am a 19 year old programmer. <br>
        More details to come. </p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>I am fluent in and have formal education in C++ and C#. <br>
        I have used personal time to educate myself in the basic syntax 
        of Python and have developed small games and applications in it. 
        I have had exposure to html, css and javascript (came in handy 
        when making this website). 
        I would love to learn new languages if needed. </p>
    </div>
    <div class="tech">
      <h2>Tools and Environments</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p>I have experience developing in Visual Studio and Unity and 
        using GitHub for version control. </p>
    </div>
</div>
