 <div class="user-details">
  <h1>About me</h1>
  <p>I am a 19 year old programmer who enjoys making and playing games. <br>
    I have an Advanced Diploma of Professional Games Development and 3 years of experience 
    developing games. <br>
    I am good at problem solving and coming up with creative solutions to problems. </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Languages</h2>
    <div class="icons">
      <i class="devicon-cplusplus-plain colored" style="margin-left: 12px; margin-right: 12px;"></i>
      <i class="devicon-csharp-plain colored" style="margin-left: 12px; margin-right: 12px;"></i>
      <i class="devicon-python-plain colored" style="margin-left: 12px; margin-right: 12px;"></i>
    </div>
    <p>I am fluent in and have formal education in C++ and C#. <br>
      I am self taught in Python and have developed small games and applications in it. 
      I am also self taught in html, css and javascript (came in handy when making this website). <br>
      I would love to learn new languages if needed. </p>
  </div>
  <div class="tech">
    <h2>Tools and Environments</h2>
    <div class="icons">
      <i class="devicon-visualstudio-plain colored" style="margin-left: 12px; margin-right: 12px;"></i>
      <i class="icons8-unity" style="margin-left: 12px; margin-right: 12px;"></i>
      <i class="devicon-github-plain colored" style="margin-left: 12px; margin-right: 12px;"></i>
    </div>
    <p>I have experience developing in Visual Studio and Unity, 
      using GitHub, SVN, and GitKraken for version control and
      I am familiar with the development life cycle. </p>
  </div>
</div>
