 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>I am fluent in and have formal education in C++ and C#. I have<br>
        used personal time to educate myself in the basic syntax of<br>
        Python and have developed small games and applications in it.<br>
        I have had exposure to html, css and javascript (came in handy<br>
        when making this website).<br>
        I would love to learn new languages if needed.</p>
    </div>
    <div class="tech">
      <h2>Environments and tools</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p>I have experience developing in Visual Studio and Unity and<br>
        using GitHub for version control.</p>
    </div>
    <!-- <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
</div>
