<div class="resume">
  <div class="resume-link">
      <a class="link" href="../index.html">&leftarrow;Back</a>
  </div>
  <div id="shadow">
    <div id="paper">
      <div class="content">
        <!-- <div style="width: 100%; height: 10px; margin-bottom: 10px;">
        </div> -->
        <h1>Dylan Glenister</h1>
        <h3>Software engineer</h3>
        <br><br>
        <p>I went to highschool at Salesian College Sunbury where I completed year 10 before leaving to do the Certificate III in game development at AIE Melbourne campus. <br>
          I then went on to complete a Diploma of games programming and then an Advanced Diploma of games programming. <br>
          I have a total of 3 years experience developing games in Unity using C# and 2 years experience programming in C++. <br>
          I have experienceusing github to version control project both by myself and in a team. <br>
        </p>
      </div>
    </div>
  </div>
</div>
