<div class="resume">
  <div class="page">
    <h1>Dylan Glenister</h1>
    <h3>&lt;Contact Details&gt;</h3>
    <p>Studied at AIE Melbourne campus <br>
        Certificate III in game design, programming and art <br>
        Diploma of games programming <br>
        Advanced diploma of games programming <br>
        3 years experience developing games in Unity using C# <br>
        2 years experience programming in C++ <br>
        Experience using Github for version control
    </p>
  </div>
</div>
