<div class="resume">
  <div id="page">
    <div id="shadow">
      <div id="paper">
        <div class="content">
          <h1>Dylan Glenister</h1>
          <br><br>
          <h3>&lt;Contact Details&gt;</h3>
          <br><br>
          <p>Studied at AIE Melbourne campus <br><br><br>
              Certificate III in game design, programming and art <br><br><br>
              Diploma of games programming <br><br><br>
              Advanced diploma of games programming <br><br><br>
              3 years experience developing games in Unity using C# <br><br><br>
              2 years experience programming in C++ <br><br><br>
              Experience using Github for version control <br><br><br>
          </p>
          <br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
  </div>
</div>
