<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" alt="mountains"/>
  </div>
  <div class="contents">
    <h2>Eden</h2>
    <ul>
      <li>Lead Programmer</li>
    </ul>
    <p>Eden is a surreal cosmic horror walking simulator.</p>
    <a class="project-link" href="#">Link coming...</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" alt="mountains"/>
  </div>
  <div class="contents-right">
    <h2> Second Project </h2>
    <ul>
      <li> List item</li>
    </ul>
    <p>This is another paragraph</p>
    <a class="project-link" href="#">Button</a>
  </div>
</div>
