<div class="user-details">
  <h1>Featured Projects</h1>
</div>

<!-- Eden -->
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/eden.jpg" | prepend: site.baseurl }}" alt="Eden picture"/>
  </div>
  <div class="contents">
    <h2>Eden</h2>
    <ul>
      <li>Unity</li>
      <li>C#</li>
      <li>Lead Programmer</li>
    </ul>
    <p>Eden is a surreal cosmic horror walking simulator.<br>
      The game makes use of non-euclidean geometry and spacial manipulation 
      to bring depth to the world environment and aid in story-telling.<br> 
      Eden was shown off at PAX Melbourne in 2019.</p>
    <a class="project-link" href="#">Link coming...</a>
  </div>
</div>

<!-- Raytracing project -->
<!-- <div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/placeholder.jpg" | prepend: site.baseurl }}" alt="Placeholder"/>
  </div>
  <div class="contents-right">
    <h2>Project Title</h2>
    <ul>
      <li>Primary details about the project</li>
    </ul>
    <p>Detailed description about the project</p>
    <a class="project-link" href="#">Link</a>
  </div>
</div> -->

<!-- Stock Trader -->
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/stocktrader.jpg" | prepend: site.baseurl }}" alt="Stock Trader picture"/>
  </div>
  <div class="contents-right">
    <h2>Stock Trader</h2>
    <ul>
      <li>Console application</li>
      <li>C++</li>
    </ul>
    <p>Stock Trader is a small console application written in C++ for an assessment project at AIE. <br>
      The game uses simple text input and output to convey important game information; the goal of the
       game is to make as much money in one year by buying and selling stock in companies. <br>
      Stock Trader was written entirely by me and uses no external libraries. </p>
    <a class="project-link" href="https://github.com/SlenderFox/StockTrader" target="_blank">Github repo</a>
  </div>
</div>

<!-- Project name -->
<!-- <div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/placeholder.jpg" | prepend: site.baseurl }}" alt="Placeholder"/>
  </div>
  <div class="contents-right">
    <h2>Project Title</h2>
    <ul>
      <li>Primary details about the project</li>
    </ul>
    <p>Detailed description about the project</p>
    <a class="project-link" href="#">Link</a>
  </div>
</div> -->
