<div class="user-details">
  <h1>Featured Projects</h1>
</div>

<!-- Eden -->
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/eden.jpg" | prepend: site.baseurl }}" alt="Eden picture"/>
  </div>
  <div class="contents">
    <h2>Eden</h2>
    <ul>
      <li>C#</li>
      <li>Unity</li>
    </ul>
    <p>Eden is a surreal cosmic horror walking simulator.<br>
      The game makes use of non-euclidean geometry and spacial manipulation 
      to bring depth to the world environment and aid in story-telling.<br> 
      Eden was shown off at PAX Melbourne in 2019.</p>
    <a class="project-link" href="https://missingmountain.itch.io/eden" target="_blank">Itch.io page</a>
  </div>
</div>

<!-- Sci-ber Crime -->
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/sci-bercrime.jpg" | prepend: site.baseurl }}" alt="Sci-ber Crime picture"/>
  </div>
  <div class="contents-right">
    <h2>Sci-ber Crime</h2>
    <ul>
      <li>C#</li>
      <li>Unity</li>
    </ul>
    <p>Sci-ber Crime was the final assessment project for the Diploma in 2019. It was a group project
      with four artists, two designers and two programmers. Being the first time all three disciplines had 
      worked together, this was an invaluable learning experience for all of us.</p>
    <a class="project-link" href="https://github.com/SlenderFox/Sci-berCrime" target="_blank">Github repo</a>
  </div>
</div>

<!-- Carnage - GameJam2019 -->
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/carnage.jpg" | prepend: site.baseurl }}" alt="Carnage picture"/>
  </div>
  <div class="contents">
    <h2>Carnage - GameJam2019</h2>
    <ul>
      <li>C#</li>
      <li>Unity</li>
    </ul>
    <p>In July of 2019 we had a 3 day GameJam in which two designers and three programmers (including me)
      were tasked with making a game.<br>
      We made Carnage, a small, two level arcade drifting/racing game. Development of the game was very smooth
      especially due to the game being so minimal (main menu and two levels).</p>
    <a class="project-link" href="https://github.com/SlenderFox/2019GameJam" target="_blank">Github repo</a>
  </div>
</div>

<!-- Stock Trader -->
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/stocktrader.jpg" | prepend: site.baseurl }}" alt="Stock Trader picture"/>
  </div>
  <div class="contents-right">
    <h2>Stock Trader</h2>
    <ul>
      <li>C++</li>
      <li>Console application</li>
    </ul>
    <p>Stock Trader is a small console application written in C++ for an assessment project at AIE. <br>
      The game uses simple text input and output to convey important game information. The goal of the
       game is to make as much money in one year by buying and selling stock in companies. <br>
      Stock Trader was written entirely by me and uses no external libraries.</p>
    <a class="project-link" href="https://github.com/SlenderFox/StockTrader" target="_blank">Github repo</a>
  </div>
</div>

<!-- Project template -->
<!-- <div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/placeholder.jpg" | prepend: site.baseurl }}" alt="Placeholder"/>
  </div>
  <div class="contents">
    <h2>Project Title</h2>
    <ul>
      <li>Language</li>
      <li>Environment</li>
    </ul>
    <p>Detailed description about the project</p>
    <a class="project-link" href="#" target="_blank">Empty Link</a>
  </div>
</div> -->
